.project {
  padding: 50px 0px;
  .text-right {
    @media screen and (min-width: 320px) {
      text-align: center !important;
    }
  }
  .profile-header {
    color: $text;
    font-size: 20px;
  }
  .profile-paragraph {
    color: $logo-color;
    font-size: 66px;
    line-height: 66px;
    position: relative;
    margin-right: 45px;
    @media screen and (min-width: 320px) {
      font-size: 20px;
    }
    &:after {
      position: absolute;
      content: ">>";
      right: -72px;
      font-size: 50px;
      @media screen and (min-width: 320px) {
        display: none;
      }
    }
  }
  .profile-info {
    width: 80%;
    margin: 0 auto;
    .user-name {
      font-size: 20px;
      color: $text;
      padding: 10px 0px;
    }
    .view-profile {
      color: $grey;
      font-size: 13px;
    }
  }

  }