.profile {
  padding: 50px 0px;
  .image-info {
    .user-name {
      color: $grey;
      font-size: 13px;
    }
    .view-profile {
      color: $logo-color;
      font-size: 13px;
      position: relative;
      &:after {
        content: '>>';
        position: absolute;
        top: 0px;
        right: -16px;
        font-size: 10px;
      }
    }
    .profile-info {
      padding-top: 20px;
    }
  }
  .section-header {
    padding-bottom: 40px;
    .profile-header {
      color: $text;
      font-size: 38px;
    }
    .profile-paragraph {
      color: $grey;
      font-size: 26px;
    }
  }
}